.chart-box{
    margin-left: 25vh;
    margin-bottom: 5vh;
    width: 120vh;
    background-color: #3e4450;
    height: 70vh;
}

.chart-box .label{
    color: cyan;
   
}
.title
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1cm;
    margin-bottom: 3vh;
    color: cyan;
}

.myradio
{
    font-family: 'Courier New', Courier, monospace;
    color: cyan;
}
.chart-area
{
    margin-left: 5vh;
    margin-bottom: 2vh;
    background: white;
    height: 50vh;
    width: 100vh;
}